RPC_URL=<rpc url of your buildbear sandbox>
PRIVATE_KEY=<private key of an account that has LINK tokens>
VRF_COORDINATOR_ADDR=<address of the vrf coordinator contract based on the forking network>
LINK_TOKEN_ADDR=<address of the link token contract based on the forking network>

//Make sure you have enough LINK token in the account, 
// you can use faucet to get LINK tokens in Buildbear Sandbox
LINK_AMOUNT=50